<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>yerbabuena surf</title>
    <!-- FAVICON-->
    <link rel="icon" type=image/x-icon href="../favicon2.ico">
    <!--CSS -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav class="navbar">

        <div>
            <img class="logo" src="../assets/images/yerbabuena1.webp" alt="logo yerbabuena white">
        </div>

        <input type="checkbox" id="check-menu" class="Check-menu">
        <form>
            <input type="search" placeholder="buscar">
            <input type="submit" value="¿buscar!">
        </form>
        <ul class="nav-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./galery.html">Productos</a></li>
            <li><a class="active" href="#">Presupuesto</a></li>
            <li><a href="./contact.html">Contacto</a></li>
        </ul>

        <label for="check-menu" class="label-check">
            <div class="menu-hamburguesa">
                <div class="linea"></div>
                <div class="linea"></div>
                <div class="linea"></div>
            </div>
        </label>
    </nav>
    <header>
        <h1>Formulario de presupuesto:</h1>

    </header>
    <main>
             <div class="container">
                <form id="presupuesto" name="presupuesto" action="#" method="get" target="_self">
                    <ul class="flex-outer">
                        <li>
                            <label for="first-name">Nombre</label>
                            <input type="text" id="first-name" name="first-name" placeholder="Escriba su nombre"
                                pattern="[A-Z a-z]{3,15}" required>
                        </li>
                        <li>
                            <label for="surname">Apellidos</label>
                            <input type="text" id="surname" name="surname" placeholder="Escriba sus Apellidos"
                                pattern="[A-Z a-z]{3,40}" required>
                        </li>
                        <li>
                            <label for="email">Correo Electrónico</label>
                            <input type="email" id="email" name="email" placeholder="Escriba su correo electrónico"
                                pattern="[A-Za-z0-9_-.]+@[A-Za-z0-9_-.]+.[a-z]{0,9}"
                                required>
                        </li>
                        <li>
                            <label for="telephone">Número de teléfono</label>
                            <input type="tel" id="telephone" name="telephone" placeholder="Escriba su número de teléfono" pattern="[0-9]{0,9}" required>
                        </li>
                        <li>
                            <label for="message">Presupuesto</label>
                            <textarea rows="10" id="message" placeholder="Escriba el modelo que desea y las medidas" required></textarea>
                        </li>
                        <li>
                            <p>Política de <a href="../assets/PDF/política-de-privacidad.pdf">privacidad</a></p>
                            <ul class="flex-inner">
                                <li>
                                    <label for="accept">Acepto</label>
                                    <input type="radio" id="accept" name="accept-option" title="Debe aceptar los términos para enviar el formulario" required>

                                </li>
                                <li>
                                    <label for="Decline">No acepto</label>
                                    <input type="radio" id="decline" name="decline-option" title="Debe aceptar los términos para enviar el formulario">
                                </li>   
                            </ul>


                        <li class="liButtons">
                            <button type="reset">Borrar</button>
                            <button type="submit">Enviar</button>
                        </li>

                    </ul>

                </form>

            </div>

    </main>
    <footer>
        <img src="../assets/images/instagram-wpromotions.webp" class="logoRRSS" alt="">
        <img src="../assets/images/facebook-wpromotions.webp" class="logoRRSS" alt="">
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><span
                property="dct:title">Yerbabuena Surf Store</span> by <span property="cc:attributionName">Javier Barriga
                Granado</span> is licensed under <a
                href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank"
                rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-SA 4.0<img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a></p>
    </footer>



</body>